$bg: #fafafa;
$links: #f03a47;
$text: #292c2f;
$grey1: #d7d7d7;

$primary: #0a81d1;



// old
$teal: #43c6ac;
$darkblue: #191654;
$grey: #c4cdd5;
$lightgrey: #ededed;
$textgrey: #919eab;
$arrowgrey: #dbdbe0;

$orange: #ffc770;
$green: #43c6ac;
$red: #f03a47;
